img{
    width: 30%;
    margin:1.66%;
}
nav{
    
    margin-left: 1.66%;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    font-family: 'Raleway', sans-serif;
    padding: 2px 0;
    font-size: large;

}